/* --- Reset e Globais --- */
* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000;
    color: #fff;
  }
  
  a {
    text-decoration: none;
    transition: 0.5s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  /* --- Navbar --- */
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
  }
  
  #navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #f7d354; /* Amarelo ouro */
  }
  
  #navbar form {
    display: flex;
    gap: 0.5rem;
  }
  
  #navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
  }
  
  #navbar button {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
  }
  
  #navbar button:hover {
    background-color: transparent;
    color: #f7d354;
  }
  
  /* --- Home e Grids --- */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
  }
  
  /* --- Movie Card --- */
  .movie-card {
    width: 30%;
    color: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .movie-card img {
    max-width: 100%;
    border-radius: 1rem;
  }
  
  .movie-card h2 {
    margin-bottom: 1rem;
  }
  
  .movie-card svg {
    color: #f7d354;
  }
  
  .movie-card a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 1rem 0.5rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .movie-card a:hover {
    background-color: transparent;
    color: #f7d354;
  }

  /* --- Página de Busca --- */
.query-text {
  color: #f7d354;
  text-transform: uppercase;
}
/* --- Página de Detalhes (Movie) --- */
.movie-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  align-items: center; /* Centraliza tudo */
}

.movie-page svg {
  font-size: 1.5rem;
  color: #f7d354;
}

.movie-page .movie-card {
  text-align: center;
  width: 100%; /* Ocupa a largura do container */
  background-color: transparent; /* Remove o fundo preto do card aqui */
}

.movie-page .movie-card img {
    width: 300px; /* Limita o tamanho do pôster */
    height: auto;
}

.tagline {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 1.5rem;
  width: 100%; /* Para alinhar o texto à esquerda */
}

.info h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description {
  line-height: 1.4rem;
  text-align: justify;
}